/*  
  Primary Colors
    WARRIORS ROYAL BLUE
    HEX COLOR: #006BB6;
    RGB: (0,107,182)

    GOLDEN YELLOW
    HEX COLOR: #FDB927;
    RGB: (253,185,39)

    SLATE
    HEX COLOR: #26282A;
    RGB: (38,40,42)
  
  Logo Colors 
    BLUE
    HEX COLOR: #041E42;
    RGB: (4,30,66)

    RED
    HEX COLOR: #BE3A34;
    RGB: (190,58,52)

    YELLOW
    HEX COLOR: #FFA300;
    RGB: (255,163,0)

    LIGHT BLUE
    HEX COLOR: #00A9E0;
    RGB: (0,169,224)
/*