$color-white: #ffffff;
$color-black: #000000;

$color-primary-blue: #006BB6;
$color-secondary-blue: #006ab6cc;
$color-primary-yellow: #FDB927;
$color-primary-slate: #26282A;
$color-primary-logo-blue: #041E42;
$color-primary-logo-orange: #BE3A34;
$color-primary-logo-yellow: #FFA300;
$color-primary-logo-lightBlue: #00A9E0;
$color-primary-logo-lightBlue-2: #004ee0;

$color-grey-light-1: #58575713;
$color-grey-dark: #999;
$color-grey-dark-2: #333;

// Grid
$grid-width: 150rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 6rem;

// Font size
$default-font-size: 1.6rem;