.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  margin-top: 5rem;
  
  // width: 30vh;
  height: 50vh;
  position: relative;
  
  @include respond(tab-port){
    //@include absCenter;
    margin-bottom: 10rem;
    height: 20vh;
    //padding: 10rem 40rem;
    width: 100%;
    //font-size: 5rem;
    text-align: center;
  }

  &__photo {
    width: 90%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    border-radius: 3px;
    margin: 0 auto;

    @include respond(tab-port){
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 35%;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__text {
    color: $color-black;

    @include respond(tab-port){
      position: relative;
      font-size: 2.5rem;
      
    }
  }

  

}