body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-primary-slate;
  padding: 2rem;

}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 1rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1rem;

    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    /* 
    animation-delay: 2s;
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;

    animation: moveInRight 2s ease-out;
  }
}