.section-about {
  background-color: $color-grey-light-1;
  // background-color: $color-primary-yellow;
  height: 100vh;
  padding: 10rem 15rem;
  margin-top: -12rem;
  transform: skewY(-4deg);
  // text-align: center

  & > * {
    //margin-top: -5rem;
    transform: skewY(4deg);
  }

}

.section-features {
  height: 95vh;
  padding: 25rem 2rem;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-yellow, 0.8),
    rgba($color-primary-yellow, 0.8)),
    url('../../img/strengthInNumbers.png');

  // background-image: url('../../img/strengthInNumbers.png');
  background-size: cover;
  transform: skewY(-4deg);

  & > * {
    margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.section-history {
  background-color: $color-grey-light-1;
  height: 110vh;
  width: 100%;
  padding: 10rem 10rem 0rem 10rem;
  //margin-top: -12rem;
  transform: skewY(-4deg);


  & > * {
    //margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.section-stories  {
  background-color: $color-secondary-blue;
  position: relative;
  padding: 10rem 0;
  transform: skewY(-4deg);

  & > * {
    //margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.section-book {
  padding: 5rem 0;
  background-color: $color-grey-light-1;
  height: 100vh;
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
  margin-top: -7rem;
}

.book {
  background-image: linear-gradient(105deg, 
                                    rgba($color-secondary-blue, .9) 0%, 
                                    rgba($color-secondary-blue, .9) 50%, 
                                    transparent 50%), 
                    url(../../img/oracle-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  margin: 15rem auto;

  height: 60rem;
  width: 120rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}