.section-about {
  background-color: $color-grey-light-1;
  // background-color: $color-primary-yellow;

  padding: 10rem 30rem 70rem 30rem;
  margin-top: -11rem;
  transform: skewY(-4deg);
  // text-align: center

  & > * {
    //margin-top: -5rem;
    transform: skewY(4deg);
  }
  
}

.section-features {
  height: 95vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-yellow, 0.8),
    rgba($color-primary-yellow, 0.8)),
    url('../../img/strengthInNumbers.png');

  // background-image: url('../../img/strengthInNumbers.png');
  background-size: cover;
  transform: skewY(-4deg);

  & > * {
    margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.section-history {
  background-color: $color-grey-light-1;
  height: 130vh;
  padding: 20rem 30rem 70rem 30rem;
  //margin-top: -12rem;
  transform: skewY(-4deg);
  & > * {
    //margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.section-stories  {
  background-color: $color-secondary-blue;
  padding: 15rem 0;
  transform: skewY(-4deg);

  & > * {
    //margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.section-book {
  padding: 15rem 0;
  background-color: $color-grey-light-1;
  height: 130vh;
  transform: skewY(-4deg);


  & > * {
    //margin-top: -10rem;
    transform: skewY(4deg);
  }
}

.book {
  background-image: url(../../img/oracle-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  margin: 15rem auto;

  height: 60rem;
  width: 120rem;
}